APPLICATION_HTTPPORT=8000
APPLICATION_GQLHTTPPORT=8001
APPLICATION_OPTIONS_SKIPGQLREQBODYLOG=false
APPLICATION_OPTIONS_JWTSECRET="secret"
APPLICATION_OPTIONS_JWTEXPIRED=100

LOGGER_FILELOCATION=./log/shoeshop.log
LOGGER_FILEMAXAGE=1
LOGGER_LEVEL=-1
LOGGER_STDOUT=true

DATABASE_CONNMAXLIFETIME=5m
DATABASE_AUTOMIGRATE=true
DATABASE_DEBUGMODE=true
DATABASE_HOST=localhost
DATABASE_MAXOPENCONNECTIONS=20
DATABASE_MINIDLECONNECTIONS=2
DATABASE_NAME=shoeshop
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_SCHEMA=public
DATABASE_USERNAME=postgres
